@import "../../variables.modules";

#Skills {
  padding: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.category {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 
              0 0 10px rgba(255, 255, 255, 0.2) inset; /* Soft outer and inner shadow */
}

.skills-sub-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black; /* Black color for text */
}

.skills-list {
  display: grid;
  gap: 10px;
}

article {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
  backdrop-filter: blur(5px); /* Slight blur for articles */
  -webkit-backdrop-filter: blur(5px); /* Blur effect for Safari */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
              0 0 10px rgba(255, 255, 255, 0.15) inset; /* Softer shadow */
}

article div {
  margin-left: 10px;
  color: black; /* Black color for text */
}

@media screen and (min-width: 768px) {
  .skills-container {
    justify-content: space-between;
  }
  
  .category {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .category {
    width: calc(33.33% - 20px);
  }
}
